body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96; }

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40; }

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem; }
.subtitle {
  font-size: 1.8rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem; }

.list-social-icons a {
  color: #495057;
  text-align: center !important;
 }
  .list-social-icons a:hover {
    color: rgb(2, 78, 116, .5); }
  .list-social-icons a .fa-lg {
    font-size: 2rem; 
    text-align: center;}
  .list-social-icons {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center !important;
  }
.fa-facebook:hover, .fa-linkedin:hover, .fa-github:hover {
  -webkit-transform: scale(1.25)!important;
    -ms-transform: scale(1.25)!important;
    transform: scale(1.25)!important;
}
.list-icons {
  font-size: 3rem; }
  .list-icons .list-inline-item i:hover {
    color: rgb(255, 255, 255); }

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase; }

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block;
            text-align: center; } }

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important}
  section.resume-section .resume-item .resume-date {
    min-width: none; }

@media (min-width: 768px) {
  section.resume-section {
    min-height: 50vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; }
  }

@media (min-width: 992px) {
  section.resume-section {
    min-height: 80vh;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;} 
  }
@media (min-width: 992px) {
  #about {
    
    padding-right: 10rem !important;
    padding-left: 10rem !important;
    text-align: center

  }
}

.bg-primary {
  background-color: rgb(2, 78, 116) !important;
/*background-color: #BD5D38 !important; */}

.text-primary {
  color: #0394DE !important;
/*color: #BD5D38 !important;*/ }

.text-secondary {
  color: rgba(3, 148, 222, .8) !important;
}

.hs {
  padding-top: 20px;
}

a {
  color: #0394DE; }
  a:hover, a:focus, a:active {
    color: rgb(2, 84, 124); }

#sm-name {
  font-family: 'Shadows Into Light Two', cursive;
  font-style: italic;
  font-weight: bolder;
}

.Stat-Head {
  padding-top: 40px;
}

.legend {
  padding-top: 20px;
  font-size: .9rem;
}

#interests {
  padding-top: 50px;
}

.resumeLink {
    cursor: pointer;
    display: block;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    width: 229px;
    padding: 26px 0px;
    color: #fff !important;
    background-color: #333;
    text-align: center;
    margin: 10px auto 0px auto;
    font-size: 22px;
}

.resumeLink:hover {
    background-color: #0d0d0d;
    text-decoration: none;
    font-size: 24px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

button:focus {
  outline: 5px auto rgba(255, 255, 255, 0.5);
}

#longName {
  white-space: nowrap;
}

@media (max-width: 992px) {
  .resume-section{
    text-align: center;
  }
  ul {
    text-align: left;
  }
  #education h3 {
    float: none;
    text-align: center;
  }
  #education .mr-auto {
    margin-right: inherit !important;
  }
}

@media (width: 768px) {
  .resume-section{
    text-align: center;
  }
  ul {
    text-align: left;
  }
  #education h3 {
    display: inline-block;
    float: none;
    text-align: center;
  }
  #education .mr-auto {
    margin-right: inherit !important;
  }
  .move-right {
    margin-left: 35px;
  }
  .move-right-more {
    margin-left: 70px;
  }
  .move-left {
    margin-left: 20px;
  }
  .move-left-more {
    margin-left: 60px;
  }
}

.mr{
  padding-left: 10px;
}